/* PAGE D'ACCEUIL */

/* Body */

html, main, section {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
}

/* Police */

@font-face {
    font-family: 'Roboto';
    src: url('Police/Roboto-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoBold';
    src: url('Police/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Shrikhand';
    src: url('Police/Shrikhand-Regular.otf') format("opentype");
}

.robotoBold {
    font-family: 'RobotoBold';
}

.roboto {
    font-family: 'Roboto';
}

.shrikhand {
    font-family: 'Shrikhand';
}

/*~ Header ~*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.h1-ohmyfood {
    font-family: 'Shrikhand';
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 6px 0px #b8b6b6;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}

.fleche-titre {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.h1-menu {
    font-family: 'Shrikhand';
    text-align: center;
    margin: 0;
    width: 100%;
}

/*~ Main ~*/

/* Paris, Belleville */

.display-lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(238, 238, 238);
}

h2 {
    font-family: 'RobotoBold';
}

/* Explorer nos restaurants */

.display-explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    height: fit-content;
}

.flexCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h3 {
    font-family: 'RobotoBold';
    font-size: 1.5em;
    margin-bottom: 0px;
}

p {
    font-family: 'Roboto';
    padding-bottom: 20px;
}

.boutton-explorer {
    font-family: 'Roboto';
    font-size: 17px;
    padding: 15px 20px;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 0px 15px 0px #adacac;
    text-align: center;
    width: auto;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.boutton-explorer:hover {
    transform: scale(1.18);
}

/* Filtres */

.padding-filtres {
    padding: 40px;
}

.margin-top {
    margin-top: 0;
}

.flex-filtres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    gap: 50px;
}

.width-filtres {
    width: 100%;
}

.filtres {
    display: flex;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 15px 20px;
    border-radius: 16px;
    box-shadow: 4px 8px 8px 1px rgb(235, 235, 235);
    height: 40px;
}

.filtres:hover {
    transform: scale(1.05);
}

.numéro-filtres {
    position: relative;
    left: -30px;
    background-color: #9356dc;
    padding: 3px 7px 3px 7px;
    border-radius: 50%;
    color: white;
}

.couleur-icone {
    color: grey;
}

.couleur-icone:hover {
    color: #9356dc;
}

.padding-texte-filtres {
    font-size: large;
    padding-left: 30px;
}

/* Images */

.background-images {
    background-color: rgb(248, 248, 248);
    padding: 40px;
}

.bloc-images {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

.fond-images {
    background-color: white;
    box-shadow: 4px 8px 8px 1px rgb(235, 235, 235);
    border-radius: 15px;
    width: 100%;
}

.contenant-image {
    position: relative;
    text-align: center;
}

.image {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}

.texte-nouveau-image {
    position: absolute;
    top: 35px;
    right: -25px;
    transform: translate(-50%, -50%);
    color: #07894c;
    background-color: #96ffce;
    padding: 10px;
    font-family: 'RobotoBold';
    border-radius: 5px;
    box-shadow: 0 0 10px 1px black;
}

.texte-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    height: 80px;
    padding-bottom: 0;
}

.line-height {
    line-height: 0.7em;
}

.positionnement-coeur {
    padding-bottom: 30px;
    padding-right: 10px;
}

/* Footer */

.fond-footer {
    background-color: rgb(26, 26, 26);
    padding: 5%;
}

.organisation-footer {
    display: flex;
    justify-content: space-between;
}

.padding-icone-footer {
    padding-right: 10px;
}

.ohmyfood-font-size-couleur-footer {
    font-size: x-large;
    color: white;
}

.font-size-couleur-footer {
    font-size: larger;
    color: white;
}

.a {
    text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .bloc-images {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .flex-filtres {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        width: 100%;
    }

    .fond-footer {
        padding-left: 25px;
    }

    .responsive-footer {
        flex-direction: column;
        padding-left: 15px;
        line-height: 1.8em;
    }

    .padding-bottom {
        padding-bottom: 15px;
    }
}

/* MENU A LA FRANCAISE */

/* Image */

.image-menu {
    object-fit: cover;
    position: relative;
    height: 300px;
    width: 100%;
}

/* À la française */

.texte-francaise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    position: relative;
    top: -54px;
    background-color: rgb(238, 238, 238);
    border-radius: 45px 45px 0 0;
    font-size: xx-large;
    font-family: 'Shrikhand';
}

/* Entrées, plats, desserts */

.fond-menu {
    position: relative;
    top: -55px;
    background-color: rgb(238,238,238);
}

.padding {
    padding: 10px;
}

.flexC {
    display: flex;
    flex-direction: column;
}

.texte-titre-bloc {
    font-family: 'Roboto';
    margin: 10px;
    padding-bottom: 20px;
}

.texte-titre-bloc2 {
    font-family: 'Roboto';
    font-size: large;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contenant-bloc {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0 #b8b6b6;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    padding-bottom: 0;
}

.marginNone {
    margin: 0;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
}

.paddingTop {
    padding-top: 5px;
}

.boutton-commander {
    font-family: 'Roboto';
    font-size: 17px;
    padding: 15px 45px;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 0px 15px 0px #adacac;
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.boutton-commander:hover {
    transform: scale(1.05);
}

/* Footer */

.marginTopFooter {
    margin-top: -55px;
}

/* Transition */

@keyframes transition {
    0%   { margin-top: -10px;opacity:0; }
    100% { margin-top: 0;opacity:1; }
    }
    .transition {opacity:0;animation: transition .350s ease-in-out .375s forwards;}
    .transition2 {opacity:0;animation: transition .375s ease-in-out .400s forwards;}
    .transition3 {opacity:0;animation: transition .425s ease-in-out .450s forwards;}
    .transition4 {opacity:0;animation: transition .475s ease-in-out .500s forwards;}
    .transition5 {opacity:0;animation: transition .525s ease-in-out .550s forwards;}
    .transition6 {opacity:0;animation: transition .575s ease-in-out .600s forwards;}
    .transition7 {opacity:0;animation: transition .625s ease-in-out .650s forwards;}
    .transition8 {opacity:0;animation: transition .675s ease-in-out .700s forwards;}
    .transition9 {opacity:0;animation: transition .725s ease-in-out .750s forwards;}
    .transition10 {opacity:0;animation: transition .775s ease-in-out .800s forwards;}
}