/* Body */

html, main, section {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
}

/* Police */

@font-face {
    font-family: 'Roboto';
    src: url('Police/Roboto-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'RobotoBold';
    src: url('Police/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Shrikhand';
    src: url('Police/Shrikhand-Regular.otf') format("opentype");
}

.robotoBold {
    font-family: 'RobotoBold';
}

.roboto {
    font-family: 'Roboto';
}

.shrikhand {
    font-family: 'Shrikhand';
}

/*~ Header ~*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1 {
    font-family: 'Shrikhand';
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 6px 0px #b8b6b6;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}

/*~ Main ~*/

/* Paris, Belleville */

.display-lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(238, 238, 238);
}

h2 {
    font-family: 'RobotoBold';
}

/* Explorer nos restaurants */

.display-explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    height: fit-content;
}

.flexCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h3 {
    font-family: 'RobotoBold';
    font-size: 1.5em;
    margin-bottom: 0px;
}

p {
    font-family: 'Roboto';
    padding-bottom: 20px;
}

.boutton-explorer {
    font-family: 'Roboto';
    font-size: 17px;
    padding: 15px 20px;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(#ff79da, #9356dc);
    box-shadow: 0px 0px 15px 0px #adacac;
    text-align: center;
    width: auto;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

/* Filtres */

.padding-filtres {
    padding: 40px;
}

.margin-top {
    margin-top: 0;
}

.flex-filtres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    gap: 50px;
}

.width-filtres {
    width: 100%;
}

.filtres {
    display: flex;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 15px 20px;
    border-radius: 16px;
    box-shadow: 4px 8px 8px 1px rgb(235, 235, 235);
    height: 40px;
}

.filtres:hover {
    transform: scale(1.05);
}

.numéro-filtres {
    position: relative;
    left: -30px;
    background-color: #9356dc;
    padding: 3px 7px 3px 7px;
    border-radius: 50%;
    color: white;
}

.couleur-icone {
    color: grey;
}

.couleur-icone:hover {
    color: #9356dc;
}

.padding-texte-filtres {
    font-size: large;
    padding-left: 30px;
}

/* Images */

.background-images {
    background-color: rgb(248, 248, 248);
    padding: 40px;
}

.bloc-images {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

.fond-images {
    background-color: white;
    box-shadow: 4px 8px 8px 1px rgb(235, 235, 235);
    border-radius: 15px;
    width: 100%;
}

.contenant-image {
    position: relative;
    text-align: center;
}

.image1 {    
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}

.image2 {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}

.texte-nouveau-image {
    position: absolute;
    top: 30px;
    right: -20px;
    transform: translate(-50%, -50%);
    color: #07894c;
    background-color: #96ffce;
    padding: 10px;
    font-family: 'RobotoBold';
    border-radius: 5px;
}

.image3 {
    background-image: url(../Projet3/Assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}

.image4 {
    background-image: url(../Projet3/Assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}


.texte-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    height: 80px;
    padding-bottom: 0;
}

.line-height {
    line-height: 0.7em;
}

.positionnement-coeur {
    padding-bottom: 30px;
    padding-right: 10px;
}

/* Footer */

.fond-organisation-footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 26, 26);
    padding: 5%;
}

.font-size-couleur-footer {
    font-size: larger;
    color: white;
}

.padding-icone-footer {
    padding-right: 10px;
}

.a {
    text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .bloc-images {
        flex-direction: column;
    }
}
@media screen and (max-width: 1024px) {
    .flex-filtres {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        width: 100%;
    }
    .ohmyfood-footer {
        padding-left: 15px;
    }
    .fond-organisation-footer {
        flex-direction: column;
        padding-left: 25px;
    }
    .responsive-footer {
        padding-top: 15px;
        padding-left: 15px;
        line-height: 1.8em;
    }
}