/* Body */

body {
    margin: 0;
}

/* Police */

@font-face {
    font-family: 'Roboto';
    src: url('Police/Roboto-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Shrikhand';
    src: url('Police/Shrikhand-Regular.otf') format("opentype");
}

/*~ Header ~*/

    h1 {
        font-family: 'Shrikhand';
        text-align: center;
        position: relative;
        box-shadow: 0px 5px 6px 0px #b8b6b6;
        padding: 15px;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

/*~ Main ~*/

    /* Paris, Belleville */

    .lieu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5%;
        background-color: gainsboro;
    }

    h2 {
        font-family: 'Roboto';
    }

    /* Explorer nos restaurants */

    /* Filtres */

    /* Images */



